name: CI

on:
  push:
    branches: ["main"]
    tags:
      - "v*.*.*"
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Cache
        uses: Swatinem/rust-cache@v2
      - name: Build project
        run: cargo build --release --verbose
      - name: Run tests
        run: cargo test --verbose
      - name: Lint with clippy
        run: cargo clippy --all-targets --all-features --no-deps
      - name: Check formatting
        run: cargo fmt --all --check
  release:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Create GitHub Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          cargo install --path . --root .dist
          gh release create ${{ github.ref_name }} --title "Release ${{ github.ref_name }}" .dist/bin/*
